html {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  padding: 0; margin: 0;
  overflow: hidden;
}

body {
  padding: 1rem;
  background-color: #f7f6f3;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  touch-action: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.pointer {
  background-color: red;
  position: absolute;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  opacity: 1.0; 
}

.down {
  background-color:  #4c9d92;
}

#text1 {
  position: absolute;
  left: 200px;
  top: 200px;
  width: 100px;
  height: 400px;
  size: 10%;
  z-index: -1;
}

#scrollable {
  overflow-y: scroll;
  height: 700px;
  width: 600px;
  left: 600px;
  top: 100px;
  position: absolute;
}

#infinite-list{ 
    /* We need to limit the height and show a scrollbar */
    position: absolute;
    width: 1000px;
    left: 35%;
    height: 700px;
    overflow: auto;
    z-index: 1;
  
    /* Optional, only to check that it works with margin/padding */
    margin: 30px;
    padding: 20px;
}

#frontPage {
  left: 2%;
  opacity: 1;
  /*width: 800px;*/
  width: 300px;
  position: absolute;
  z-index: 1;
  top: 0px;
  box-shadow: 2px 2px 5px grey;
}
#page1 {
  visibility: visible;
  left: 4%;
  opacity: 1;
  width: 300px;
  position: absolute;
  z-index: 0;
  box-shadow: 2px 2px 5px grey;
}
#page2 {
  visibility: visible;
  left: 6%;
  opacity: 1;
  width: 300px;
  position: absolute;
  z-index: -1;
  box-shadow: 2px 2px 5px grey;
}
.page3 {
  left: 18%;
  top: 100px;
  opacity: 1;
  visibility: visible;
  box-shadow: 2px 2px 5px grey;

}

#data{
  visibility: hidden;
  position: absolute;
  z-index: -5;
}

.imageContainer > img:hover {
  width: 700px;
  height: 500px;
  left:300px;
  position: absolute;
  z-index: 2;
}